# Course-provided source data
# Not redistributed with this repository.
data/*.csv

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.*

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/